<h1>Article</h1>
Le truc a <%=Article.public_count%> articles public continuons ainsi
<ul>
    <% @article.each do |article| %>
        <% unless article.archived?%>
            <li>
                <%= link_to article.title, article %>
            </li>
        <% end %>
    <% end %>
</ul>

<%= link_to "Nouvel Article", new_editor_article_path, class: "btn btn-primary" %>