<h1>Article</h1>
Le truc a <%=Article.public_count%> articles public continuons ainsi
<ul>
    <% @article.each do |article| %>
        <% if canShow(article)%>
            <li>
                <%= link_to article.title, article %>
                <% if current_user!='extern'%>
                    <%= article.status%>
                <%end%>
            </li>
        <% end %>
    <% end %>
</ul>

<%= link_to "Nouvel Article", new_article_path %>